p {
	margin-top:20px;
	margin-bottom:50px;
	margin-right:150px;
	margin-left:80px;

}

img {
	border-radius: 8px;	
	max-width:500px;
	max-height:auto;
}

h2 {
	
}

.navigate {
	background-color: black;
	opacity: .9;
	color: orange;
}

a {
	color: purple;
}

#top {
	background-color: yellow;
	
}

body {
	background-color: gray;
}

nav ul {
	text-align: center;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	font-size: 0.75em;
}